body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  font-size: 25px;
  font-weight: 600;
}

.box {
  width: 70px;
  height: 70px;
  background-color: rgb(130, 204, 130);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rad {
  display: flex;
  justify-content: center;
}
.disabled {
  pointer-events: none;
  opacity: 20%;
}
.new {
  position: absolute;
  z-index: 10;
  background-color: rgb(99, 247, 235);
  padding: 2px 17px 2px 17px;
  color: rgb(255, 4, 0);
}
